{{ goal.title | prepend: "## " | markdownify }}
<p>Description: {{ goal.description }}</p>
<p>Trackable metrics: {{ goal.metrics }}</p>
<p>Approaches: {{ goal.approaches }}</p>
<p>Q1 explicit goals: {{ goal.g2018Q1 }}</p>
<p>2018 goals: {{ goal.g2018 }}</p>
{% if goal.content %}
<p>{{ goal.content | markdownify }}</p>
{% endif %}
{%- assign sorted_figures = (site.figures | sort: 'order') -%}
{%- for my_figure in sorted_figures -%}
  {%- for tag in my_figure.tags -%}
    {%- if tag == goal.title -%}
      {%- include my_figure.html header_level=3 -%}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
